<a href="https://colab.research.google.com/github/YasiruMM/ML_Coursework/blob/main/RandomForest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!git clone https://github.com/YasiruMM/ML_Coursework.git
%cd ML_Coursework

Cloning into 'ML_Coursework'...
remote: Enumerating objects: 15, done.
remote: Counting objects: 100% (15/15), done.
remote: Compressing objects: 100% (13/13), done.
remote: Total 15 (delta 3), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (15/15), 9.27 KiB | 9.27 MiB/s, done.
Resolving deltas: 100% (3/3), done.
/content/ML_Coursework

In [3]:
!git config --global user.email "yas.hm2mahanama@gmail.com"
!git config --global user.name "YasiruMM"

In [15]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [16]:
import pandas as pd
file_path='/content/drive/My Drive/bank_marketing_RF.csv'
df=pd.read_csv(file_path)

In [18]:
# Handle Remainder values
bin_cols=['remainder__default','remainder__housing','remainder__loan']
for cols in bin_cols:
  df[cols]=df[cols].map({'yes':1,'no':0})

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 32 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   onehot__job_admin.         45211 non-null  int64
 1   onehot__job_blue-collar    45211 non-null  int64
 2   onehot__job_entrepreneur   45211 non-null  int64
 3   onehot__job_housemaid      45211 non-null  int64
 4   onehot__job_management     45211 non-null  int64
 5   onehot__job_retired        45211 non-null  int64
 6   onehot__job_self-employed  45211 non-null  int64
 7   onehot__job_services       45211 non-null  int64
 8   onehot__job_student        45211 non-null  int64
 9   onehot__job_technician     45211 non-null  int64
 10  onehot__job_unemployed     45211 non-null  int64
 11  onehot__marital_divorced   45211 non-null  int64
 12  onehot__marital_married    45211 non-null  int64
 13  onehot__marital_single     45211 non-null  int64
 14  onehot__contact_cellular   45211 non-null  int64
 15  onehot__contact_telephone  45211 non-null  int64
 16  onehot__poutcome_failure   45211 non-null  int64
 17  onehot__poutcome_other     45211 non-null  int64
 18  onehot__poutcome_success   45211 non-null  int64
 19  remainder__age             45211 non-null  int64
 20  remainder__education       45211 non-null  int64
 21  remainder__default         45211 non-null  int64
 22  remainder__balance         45211 non-null  int64
 23  remainder__housing         45211 non-null  int64
 24  remainder__loan            45211 non-null  int64
 25  remainder__day_of_week     45211 non-null  int64
 26  remainder__month           45211 non-null  object
 27  remainder__duration        45211 non-null  int64
 28  remainder__campaign        45211 non-null  int64
 29  remainder__pdays           45211 non-null  int64
 30  remainder__previous        45211 non-null  int64
 31  target                     45211 non-null  int64
dtypes: int64(31), object(1)
memory usage: 11.0+ MB
None

Sectionized the dataset for Random Forest

In [22]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['remainder__month']=le.fit_transform(df['remainder__month'])

In [19]:
X=df.drop(['target'],axis=1)
y=df['target']

In [20]:
# Check the shapes
print("Features shape:", X.shape)
print("Target shape:", y.shape)

Features shape: (45211, 31)
Target shape: (45211,)

In [21]:
#Split Data to train and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

Implement Random Forest